@use "_color-fuente" as *;

.contacto-artista {

  background-color: $rosa;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.08);
}

.mensaje-contacto {
  font-size: 1.3rem;
  color: $rosa; 
  font-family: "Irish Grover", system-ui;
  line-height: 1.6;
}

.formulario-contacto {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: beige; 
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.08);
}

.formulario-contacto .form-label {
  font-weight: 500;
  color: grey; 
  font-family: 'Montserrat', sans-serif;
}

.formulario-contacto .form-control {
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn-enviar {
  background-color: $rosa; 
  color: white;
  padding: 10px 30px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.btn-enviar:hover {
  background-color: $lila; 
}

.mensaje-contacto {
  display: block;
  color: #444;
  font-size: 1.1rem;
}

