@use "color-fuente" as *;

.categoria-titulo {
  font-family: "Irish Grover", system-ui;
  color: $violeta;
  margin-bottom: 20px;
  text-align: center;
  .h2 {
    font-family: "Irish Grover", system-ui;
    color: $violeta;
    
  }
}


.obra-card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.obra-card:hover {
  transform: scale(1.02);
  }

  .obra-card .card-img-top {
  transition: transform 0.3s ease;
}

.obra-card:hover .card-img-top {
  transform: scale(1.05);
}




.pequeño-formato {
  max-width: 250px;
  margin: auto;
  font-size: 0.9em;
}

.card-img-top {
  object-fit: cover;
  height: 250px;
}

.h2 {
   font-family: "Irish Grover", system-ui;
   font-size: 50px;
   color: #604652;
 }

@media (max-width: 767px) {
  .obra-card:active {
    transform: scale(0.98);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
}





.carousel-control-prev,
.carousel-control-next {
  display: flex !important;
}


#mi-arte-en-tu-casa {
  background-color: var(--beige-suave);
  padding: 40px 20px;
  border-radius: 10px;
}

#mi-arte-en-tu-casa img {
  max-height: 500px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
#mi-arte-en-tu-casa .carousel-inner {
  max-width: 900px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

#mi-arte-en-tu-casa img {
  object-fit: contain;
  max-height: 500px;
}



