@charset "UTF-8";
/* _variables.scss */
/* Colores*/
/* Tipografía*/
/* _header.scss*/
header {
  background-color: #735557;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.mi-navbar {
  background-color: #735557;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.mi-navbar .navbar-brand {
  font-family: "Montserrat", sans-serif;
  color: #D29F80;
}
.mi-navbar .nav-link {
  color: #97866A;
}
.mi-navbar .nav-link:hover {
  color: #D29F80;
}

/* Links del menú */
.nav-link {
  color: #735557;
  font-weight: bold;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #735557;
  text-decoration: underline;
}

/* Link activo */
.nav-link.active {
  color: #735557;
  text-decoration: underline;
}

/* Ícono hamburguesa */
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2864,70,82, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* 
presentacion.scss*/
.presentacion {
  background-color: #735557;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 60px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  color: #D29F80;
}
.presentacion h1 {
  font-family: "Irish Grover", system-ui;
  font-size: 3em;
  color: #D29F80;
  margin-bottom: 20px;
}
.presentacion p {
  font-family: "Irish Grover", system-ui;
  font-size: 1.4em;
  line-height: 1.6;
  color: #D29F80;
}

.sobre-mi {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40 px;
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  font-family: "Irish Grover", system-ui;
}

.texto-bio {
  flex: 1;
  font-size: 1.5em;
  color: #604652;
}

.foto-mia {
  width: 250px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .sobre-mi {
    flex-direction: column;
    text-align: center;
  }
  .foto-mia {
    width: 70%;
    max-width: 70%;
  }
}
.h2 {
  font-family: "Irish Grover", system-ui;
  font-size: 50px;
  color: #604652;
}

.categoria-titulo {
  font-family: "Irish Grover", system-ui;
  color: #735557;
  margin-bottom: 20px;
  text-align: center;
}
.categoria-titulo .h2 {
  font-family: "Irish Grover", system-ui;
  color: #735557;
}

.obra-card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.obra-card:hover {
  transform: scale(1.02);
}

.pequeño-formato {
  max-width: 250px;
  margin: auto;
  font-size: 0.9em;
}

.card-img-top {
  object-fit: cover;
  height: 250px;
}

.carousel-control-prev,
.carousel-control-next {
  display: flex !important;
}

#mi-arte-en-tu-casa {
  background-color: var(--beige-suave);
  padding: 40px 20px;
  border-radius: 10px;
}

#mi-arte-en-tu-casa img {
  max-height: 500px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#mi-arte-en-tu-casa .carousel-inner {
  max-width: 900px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

#mi-arte-en-tu-casa img {
  object-fit: contain;
  max-height: 500px;
}

.obra-card .card-img-top {
  width: 100%;
  height: 250px;
  object-fit: contain;
  background-color: beige;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.footer {
  background-color: #604652;
  padding: 40px 20px;
  text-align: center;
  font-family: "Irish Grover", system-ui;
  color: #D29F80;
  margin-top: 60px;
  border-top: 1px solid #97866A;
}

.footer a {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #604652;
  font-weight: bold;
}

.footer h3 {
  font-size: 1.8em;
}

/*# sourceMappingURL=nuevo-estilo.css.map */
